body {
  padding-bottom: 72px;
}

.section-offers {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-gap: 27px;
  justify-content: space-evenly;
  margin-top: 34px;
}

.offer-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 220px;
  box-sizing: border-box;
  padding: 10px 12px 18px 12px;
  background: #FFFFFF;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
}

.offer-rating {
  width: 196.43px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;

  background: #EE3124;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
  border-radius: 10px 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  
  color: #FFFFFF;
}

.offer-advantages {
  margin-top: 24px;
  align-self: flex-start;
}

.offer-advantage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 11px;
}

.advantage-text {
  margin-left: 15px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  
  color: #333333;
}

ul {
  list-style: none;
}

.offer-button {
  width: 100%;
  height: 38px;
  margin-top: 20px;
  background: #EE3124;
  border-radius: 7px;
  border: none;

  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
  box-shadow: 0 0 0 0 black;
  transition: 0.2s ease all;
}

.offer-button:focus {
  outline: none;
}

.offer-button:hover {
  box-shadow: 0 2px 10px -5px black;
  transition: 0.2s ease all;
}

@media (max-width: 762px) {
}

@media (max-width: 500px) {
  .section-offers {
    grid-template-columns: repeat(auto-fill, 140px);
    grid-gap: 10px;
    margin-top: 15px;
  }

  .offer-item {
    height: unset;
    max-width: 140px;
    padding: 12px 7px 16px 8px;
  }

  .offer-rating {
    max-width: 125px;
  }

  .offer-button {
    height: unset;
    font-size: 12px;
    margin-top: 20px;
    padding: 5px;
  }

  .offer-advantage {
    margin-bottom: 10px;
    font-size: 13px;
  }

  .offer-image {
    max-width: 100%;
    width: auto;
  }
}